{% extends "base.html" %}
{% load static %}

{% block title %}Projects{% endblock title %}
{% block dop_css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/second_list1.css' %}">

{% endblock dop_css %}
{% block active_menu1 %}MuseMenuActive rounded-corners shadow{% endblock active_menu1 %}


{% block content %}

<div id="first_otstup"></div>

 {% for item in items %}
    <a href="{{item.id}}">
        <div class="thumbs">
            <img src="{{ item.image.url }}" alt="{{ item.name }}" width="500px" height="323px"  /><div class="caption"><span class="info">{{ item.location}}<br></span>
            <span class="title"><b>{{ item.name }}</b></span></div>
            </div>
    </a>
 {% endfor %}

{% endblock content %}


