{% extends "base.html" %}

{% load static %}

{% block title %}Projects{% endblock title %}

{% block dop_css %}
   <link rel="stylesheet" type="text/css" href="{% static 'css/second_list.css' %}">
{% endblock dop_css %}

{% block active_menu1 %}MuseMenuActive rounded-corners shadow{% endblock active_menu1 %}


{% block content %}

<div id="first_otstup"></div>

 {% for item in items %}
    <a href="{{item.id}}">
        <div id="mymy" class="small-4 columns">
            <div><img id="image" src="{{ item.image.url }}" alt="{{ item.name }}"/></div>
            <div class="small-12 columns" id="font2">{{ item.location}}</div>
            <div class="small-12 columns" id="font2"> <b>{{ item.name }}</b></div>
        </div>
    </a>
 {% endfor %}
{% endblock content %}
